.card-container{
    width: 17rem;
    height: 31rem;
    padding-bottom: 1rem;
    border-color: #EDEDED;
    border-radius: 1rem;
    border-style: solid;
    font-family: "Instrument Sans", sans-serif;
}

.card-container > .image-container{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0 ;
    border-color: #EDEDED;
}

.image-container > .product-image{
    padding: 1rem 0;
    width: 9rem;
    height: 14rem;
}

.product-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info{
    padding: .8rem .8rem 0 .8rem;

}

.product-info > .product-name{
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 700;
}

.product-info > .author{
    font-size: smaller;
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.product-info > .price{
    font-weight: bold;
    color: #008ECC; 
    font-size: 1.1rem;
}

.card-container > .details{
    padding-left: .6rem;
}

.details > hr{
    width: 95%;
    margin-bottom: 5px;
}
.details > .description{
    font-size:.9rem;
}

